<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Very Simple VLAN DB">
    <meta name="author" content="Michael Crilly">

    <link rel="shortcut icon" href="{{url_for('static', filename='assests/ico/favicon.png')}}">

    <title>{%block title%}{%endblock%}</title>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='assests/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assests/css/chosen.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assests/css/custom.css')}}" rel="stylesheet">

    {% block css %}{% endblock %}

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
      body {
        padding-top: 100px;
      }

      .dashboard-element {
        font-size: 5em;
        font-weight: bold;
      }

      .dashboard-element a, a:hover {
        color: inherit;
        text-decoration: none;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">VS VLAN DB</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/vlans">VLANs</a></li>
            <li><a href="/subnets">Subnets</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Tagging <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/sites">Sites</a></li>
                <li><a href="/impacts">Impacts</a></li>
              </ul>
            </li>
            <li><a href="/reports">Reports</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        {% for category,message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{category}}"><strong>{{message}}</strong></div>
        {% endfor %}
        {% block content %}{% endblock%}
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script src="{{url_for('static', filename='assests/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='assests/js/chosen.jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='assests/js/custom.js')}}"></script>

    <script type="text/javascript">(function(e,d,b){var a=0;var f=null;var c={x:0,y:0};e("[data-toggle]").closest("li").on("mouseenter",function(g){if(f){f.removeClass("open")}d.clearTimeout(a);f=e(this);a=d.setTimeout(function(){f.addClass("open")},b)}).on("mousemove",function(g){if(Math.abs(c.x-g.ScreenX)>4||Math.abs(c.y-g.ScreenY)>4){c.x=g.ScreenX;c.y=g.ScreenY;return}if(f.hasClass("open")){return}d.clearTimeout(a);a=d.setTimeout(function(){f.addClass("open")},b)}).on("mouseleave",function(g){d.clearTimeout(a);f=e(this);a=d.setTimeout(function(){f.removeClass("open")},b)})})(jQuery,window,10);
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>
