{% extends "base.html" %}
{% block title %}VS VLAN DB - Add Impact{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
					Add New Impact
			</div>
			<div class="panel-body">
                <form role="form" action="/impacts/add" method="post" name="addimpact">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.name.label(for="name") }}
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.description.label(for='description') }}
                        {{ form.description(class='form-control') }}
                    </div>
                    <div class="checkbox">
                        {{ form.isactive.label }}
                        {{ form.isactive }}
                    </div>
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
        {% include "topten_side.html" %}
	</div>
</div>
{% endblock %}