{% extends "base.html" %}
{% block title %}VS VLAN DB - Dashboard{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="dashboard-element">
			<h2 class="text-center">VLANS</h2>
			<p class="text-center text-success"><a href="/vlans">{{lists['vlans']|count}}</a></p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="dashboard-element">
			<h2 class="text-center">Subnets</h2>
			<p class="text-center text-success"><a href="/subnets">{{lists['subnets']|count}}</a></p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="dashboard-element">
			<h2 class="text-center">Sites</h2>
			<p class="text-center text-success"><a href="/sites">{{lists['sites']|count}}</a></p>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div class="col-lg-12">
		
		<div class="panel-group" id="accordion">

			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#vlans" data-toggle="collapse" data-parent="#accordion">
								{% if lists['vlans'] %}
                                    10 Latest VLANs
                                {% else %}
                                    No VLAN Data
                                {% endif %}
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse in" id="vlans">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>VLAN</th>
									<th>Subnet</th>
									<th>Site</th>
									<th>Enhanced</th>
                                    <th>Active</th>
								</tr>
							</thead>
							<tbody>
                            {% if lists['vlans'] %}
    							{% for vlan in lists['vlans'] %}
    								<tr>
    									<td><a href="/vlans/edit/{{vlan.id}}">{{vlan.vlan}}</a></td>
    									<td><a href="/subnets/edit/{{vlan.subnet.id}}">{{vlan.subnet.subnet}}</a></td>
    									<td><a href="/sites/edit/{{vlan.site.id}}">{{vlan.site.name}}</a></td>
    									<td><a href="/vlans/edit/{{vlan.id}}">{{vlan.enhanced}}</a></td>
                                        <td><a href="/vlans/edit/{{vlan.id}}">{{vlan.isactive}}</a></td>
    								</tr>
    							{% endfor %}
                            {% else %}
                               <tr>
                                   <td>N/D</td>
                                   <td>N/D</td>
                                   <td>N/D</td>
                                   <td>N/D</td>
                                   <td>N/D</td>
                               </tr>
                            {% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#subnets" data-toggle="collapse" data-parent="#accordion">
                                {% if lists['subnets'] %}
                                    10 Latest Subnets
                                {% else %}
                                    No Subnet Data
                                {% endif %}
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse" id="subnets">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Subnet</th>
									<th>Netmask</th>
									<th>Cidr</th>
									<th>Site</th>
									<th>VLAN Count</th>
									<th>Active</th>
								</tr>
							</thead>
							<tbody>
                            {% if lists['subnets'] %}
    							{% for subnet in lists['subnets'] %}
    								<tr>
    									<td><a href="/subnets/edit/{{subnet.id}}">{{subnet.subnet}}</a></td>
    									<td><a href="/subnets/edit/{{subnet.id}}">{{subnet.netmask}}</a></td>
    									<td><a href="/subnets/edit/{{subnet.id}}">{{subnet.cidr}}</a></td>
    									<td><a href="/subnets/edit/{{subnet.id}}">{{subnet.site.name}}</a></td>
                                        <td><a href="/subnets/edit/{{subnet.id}}">N/A</a></td>
                                        <td><a href="/subnets/edit/{{subnet.id}}">{{subnet.isactive}}</a></td>
    								</tr>
    							{% endfor %}
                            {% else %}
                                 <tr>
                                     <td>N/D</td>
                                     <td>N/D</td>
                                     <td>N/D</td>
                                     <td>N/D</td>
                                     <td>N/D</td>
                                     <td>N/D</td>                                     
                                 </tr>
                            {% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#sites" data-toggle="collapse" data-parent="#accordion">
                            {% if lists['sites'] %}
                                    10 Latest Sites
                                {% else %}
                                    No Site Data
                                {% endif %}
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse" id="sites">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
                                    <th>VLANs</th>
                                    <th>Subnets</th>
									<th>Active</th>
								</tr>
							</thead>
							<tbody>
                            {% if lists['sites'] %}
    							{% for site in lists['sites'] %}
    								<tr>
    									<td><a href="/sites/edit/{{site.id}}">{{site.name}}</a></td>
                                        <td><a href="/sites/edit/{{site.id}}">{{site.description}}</a></td>
                                        <td><a href="/vlans">{{site.vlan|count}}</a></td>
    									<td><a href="/subnets">{{site.subnet|count}}</a></td>
    									<td><a href="/sites/edit/{{site.id}}">{{site.isactive}}</a></td>
    								</tr>
    							{% endfor %}
                            {% else %}
                                <tr>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                </tr>
                            {% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
{% endblock %}