{% extends "base.html" %}
{% block title %}VS VLAN DB - Dashboard{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="dashboard-element">
			<h2 class="text-center">VLANS</h2>
			<p class="text-center text-success"><a href="/vlans">{{lists['vlans']|count}}</a></p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="dashboard-element">
			<h2 class="text-center">Subnets</h2>
			<p class="text-center text-success"><a href="/subnets">{{lists['subnets']|count}}</a></p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="dashboard-element">
			<h2 class="text-center">Sites</h2>
			<p class="text-center text-success"><a href="/sites">{{lists['sites']|count}}</a></p>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div class="col-lg-12">
		
		<div class="panel-group" id="accordion">

			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#vlans" data-toggle="collapse" data-parent="#accordion">
								Latest VLANs
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse in" id="vlans">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>VLAN</th>
									<th>Site</th>
									<th>Subnet</th>
									<th>OTV</th>
								</tr>
							</thead>
							<tbody>
							{% for vlan in lists['vlans'] %}
								<tr>
									<td>{{vlan.id}}</td>
									<td>{{vlan.vlanid}}</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#subnets" data-toggle="collapse" data-parent="#accordion">
								Latest Subnets
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse" id="subnets">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Subnet</th>
									<th>Netmask</th>
									<th>Cidr</th>
									<th>Site</th>
									<th>VLAN Count</th>
									<th>Active</th>
								</tr>
							</thead>
							<tbody>
							{% for subnet in lists['subnets'] %}
								<tr>
									<td>{{subnet.id}}</td>
									<td>{{subnet.subnet}}</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#sites" data-toggle="collapse" data-parent="#accordion">
								Latest Sites
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse" id="sites">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Description</th>
									<th>Active</th>
								</tr>
							</thead>
							<tbody>
							{% for site in lists['sites'] %}
								<tr>
									<td>{{site.id}}</td>
									<td>{{site.sitename}}</td>
									<td>N/A</td>
									<td>N/A</td>
									<td>N/A</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
{% endblock %}