{% extends "base.html" %}
{% block title %}VS VLAN DB - Dashboard{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="dashboard-element">
			<h2 class="text-center">VLANS</h2>
			<p class="text-center">0</p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="dashboard-element">
			<h2 class="text-center">Sites</h2>
			<p class="text-center">0</p>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="dashboard-element">
			<h2 class="text-center">Active</h2>
			<p class="text-center">0</p>
		</div>
	</div>
</div>
{% endblock %}