{% extends "base.html" %}
{% block title %}VS VLAN DB - Delete Site{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-danger">You are about to delete a site! Please make sure this is absolutely what you want to do.</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
					Delete Site
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="form-group">
						<label for="site">Site Name</label>
						<input class="form-control" id="site" placeholder="Site Name">
					</div>
					<div class="form-group">
						<label for="Description">Description (Optional)</label>
						<input class="form-control" id="description" placeholder="description">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="isactive"> Active?
						</label>
					</div>
					<br />
					<button type="submit" class="btn btn-success">Delete</button>
					<button type="submit" class="btn btn-danger">Cancel</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">Last Ten Sites</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Description</th>
								<th>Active</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}