{% extends "base.html" %}
{% block title %}VS VLAN DB - Edit Site{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
					Edit Site {{data['target'].name}}
			</div>
			<div class="panel-body">
				<form role="form" action="/sites/edit/{{data['target'].id}}" method="post" name="editsite">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.name.label(for="vlanid") }}
                        {{ form.name(class="form-control") }}
                    </div>
                     <div class="checkbox">
                        {{ form.isactive.label(for="isactive") }}
                        {{ form.isactive }}
                    </div>
                    <button type="submit" class="btn btn-success">Edit</button>
                    <a href="/sites/delete/{{data['target'].id}}" class="btn btn-danger" role="button">Delete</a>
                </form>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
	    {% include "topten_side.html" %}
	</div>
</div>
{% endblock %}