{% extends "base.html" %}
{% block title %}VS VLAN DB - Sites{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#activetable" data-toggle="collapse" data-parent="#accordion">
								{% if sites['active'][0] >= 1 %}
                                    Active Sites
                                {% else %}
                                    No Active Sites
                                {% endif %}
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse in" id="activetable">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
                                    <th>VLANs</th>
                                    <th>Subnets</th>
									<th>Active</th>
								</tr>
							</thead>
							<tbody>
                            {% if sites['active'][0] >= 1 %}
    							{% for site in sites['active'][1] %}
    								<tr>
    									<td><a href="/sites/edit/{{site.id}}">{{site.name}}</a></td>
    									<td><a href="/sites/edit/{{site.id}}">{{site.description}}</a></td>
                                        <td><a href="/vlans">{{site.vlan|count}}</a></td>
                                        <td><a href="/subnets">{{site.subnet|count}}</a></td>
                                        <td><a href="/sites/edit/{{site.id}}">{{site.isactive}}</a></td>
    								</tr>
    							{% endfor %}
                            {% else %}
                                <tr>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                </tr>
                            {% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#inactivetable" data-toggle="collapse" data-parent="#accordion">
								{% if sites['inactive'][0] >= 1 %}
                                    Inactive Sites
                                {% else %}
                                    No Inactive Sites
                                {% endif %}
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse" id="inactivetable">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>VLANs</th>
                                    <th>Subnets</th>
                                    <th>Active</th>
                                </tr>
							</thead>
							<tbody>
							{% if sites['inactive'][0] >= 1 %}
                                {% for site in sites['inactive'][1] %}
                                    <tr>
                                        <td><a href="/sites/edit/{{site.id}}">{{site.name}}</a></td>
                                        <td><a href="/sites/edit/{{site.id}}">{{site.description}}</a></td>
                                        <td><a href="/vlans">{{site.vlan|count}}</a></td>
                                        <td><a href="/subnets">{{site.subnet|count}}</a></td>
                                        <td><a href="/sites/edit/{{site.id}}">{{site.isactive}}</a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                </tr>
                            {% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}