{% extends "base.html" %}
{% block title %}VS VLAN DB - Edit Subnet{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Edit Subnet
			</div>
			<div class="panel-body">
				<form role="form" action="/subnets/edit/{{subnet.id}}" method="post" name="editsubnet">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.subnet.label(for="subnet") }}
                        {{ form.subnet(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.sites.label(for="sites") }}
                        {{ form.sites(class="form-control") }}
                    </div>
                    <div class="checkbox">
                        {{ form.isactive.label(for="isactive") }}
                        {{ form.isactive }}
                    </div>
                    <button type="submit" class="btn btn-success">Edit</button>
                    <a href="/subnets/delete/{{subnet.id}}" class="btn btn-danger" role="button">Delete</a>
                </form>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
	    {% include "topten_side.html" %}
	</div>
</div>
{% endblock %}