{% extends "base.html" %}
{% block title %}VS VLAN DB - Sites{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Subnets</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/subnets/add">
                    <i class="fa fa-plus-square fa-lg"></i> Add</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div class="col-lg-9">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
    				<h4 class="panel-title">
    					<a href="#activetable" data-toggle="collapse" data-parent="#accordion">
    					{% if subnets['active'].all()|count >= 1 %}
                            Active Subnet
                        {% else %}
                            No Active Subnets
                        {% endif %}
    					</a>
    				</h4>
				</div>
				<div class="panel-collapse collapse in" id="activetable">
					<div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <input type="text" class="form-control input-sm" id="search" placeholder="Search..."></input>
                            </div>
                        </div><br />
						<table class="table table-striped table-hover searchable">
							<thead>
								<tr>
									<th>Subnet</th>
									<th>Netmask</th>
									<th>Sites</th>
									<th>VLANs</th>
									<th>Active</th>
								</tr>
							</thead>
							<tbody>
                            {% if subnets['active'].all()|count >= 1 %}
    							{% for subnet in subnets['active'].all() %}
    								<tr class="clickable-row" href="/subnets/view/{{subnet.id}}">
    									<td><a href="/subnets/view/{{subnet.id}}">{{subnet.subnet}}</a></td>
                                        <td><a href="/subnets/view/{{subnet.id}}">{{subnet.netmask}}</a></td>
                                        <td>{{subnet.sites|count}}</td>
                                        <td>{{subnet.vlans.all()|count}}</td>
                                        <td><a href="/subnets/view/{{subnet.id}}">{{subnet.isactive}}</a></td>
    								</tr>
    							{% endfor %}
                            {% else %}
                                <tr>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                </tr>
                            {% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#inactivetable" data-toggle="collapse" data-parent="#accordion">
								{% if subnets['inactive'].all()|count >= 1 %}
                                    Inactive Subnet
                                {% else %}
                                    No Inactive Subnets
                                {% endif %}
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse" id="inactivetable">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
                                    <th>Subnet</th>
                                    <th>Netmask</th>
                                    <th>Sites</th>
                                    <th>VLANs</th>
                                    <th>Active</th>
                                </tr>
							</thead>
							<tbody>
                            {% if subnets['inactive'].all()|count >= 1 %}
                                {% for subnet in subnets['inactive'].all() %}
                                    <tr>
                                        <td><a href="/subnets/view/{{subnet.id}}">{{subnet.subnet}}</a></td>
                                        <td><a href="/subnets/view/{{subnet.id}}">{{subnet.netmask}}</a></td>
                                        <td>{{subnet.sites|count}}</td>
                                        <td>{{subnet.vlan|count}}</td>
                                        <td><a href="/subnets/view/{{subnet.id}}">{{subnet.isactive}}</a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                    <td>N/D</td>
                                </tr>
                            {% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}