{% extends "base.html" %}
{% block title %}VS VLAN DB - Add Subnet{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
					Add New Subnet
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="form-group">
						<label for="subnet">Subnet</label>
						<input class="form-control" id="subnet" placeholder="Subnet">
					</div>
					<div class="form-group">
						<label for="netmask">Netmask/CIDR</label>
						<input class="form-control" id="netmask" placeholder="Netmask/CIDR">
					</div>
					<div class="form-group">
						<label for="site">Site (Optional)</label>
						<select multiple class="form-control" id="site">
							<option>London 01</option>
							<option>London 02</option>
							<option>Paris 01</option>
							<option>Belgium 01</option>
							<option>New York 01</option>
						</select>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="isactive"> Active?
						</label>
					</div>
					<br />
					<button type="submit" class="btn btn-success">Create</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-7">
		<div class="panel panel-default">
			<div class="panel-heading">Last Ten Subnets</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Subnet</th>
								<th>Netmask</th>
								<th>Cidr</th>
								<th>Site</th>
								<th>VLAN Count</th>
								<th>Active</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}