{% extends "base.html" %}
{% block title %}VS VLAN DB - Add Subnet{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
					Add New Subnet
			</div>
			<div class="panel-body">
				<form role="form" action="/subnets/add" method="post" name="subnetadd">
					{% if data['error']['noparents'] %}
                    <fieldset disabled>
                    {% endif %}
					<div class="form-group">
						<label for="subnet">Subnet</label>
						<input class="form-control" id="subnet" placeholder="Subnet" name="subnet">
					</div>
					<div class="form-group">
						<label for="site">Site</label>
						<select multiple class="form-control" id="site" name="site">
						{% for site in data['sites'] %}
	                        <option value="{{site.id}}">{{site.name}}</option>
                        {% endfor %}
						</select>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="isactive" name="active"> Active?
						</label>
					</div>
					<br />
					<button type="submit" class="btn btn-success">Create</button>
					{% if data['error']['noparents'] %}
                    </fieldset>
                    {% endif %}
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		{% include "topten_side.html" %}
	</div>
</div>
{% endblock %}