{% block topten_side %}
<div class="panel-group">
	<div class="panel panel-default">
        <div class="panel-heading">
        {% if data['vlans'] %}
            Last Five VLANs
        {% else %}
            No VLANs Created
        {% endif %}
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>VLAN</th>
                    <th>Subnet</th>
                    <th>Enhanced</th>
                </tr>
            </thead>
            <tbody>
            {% if data['vlans'] %}
                {% for vlan in data['vlans'][:5] %}
                    <tr>
                        <td><a href="/vlans/edit/{{vlan.id}}">{{vlan.vlan}}</a></td>
                        <td><a href="/vlans/edit/{{vlan.id}}">{{vlan.subnet.subnet}}</a></td>
                        <td><a href="/vlans/edit/{{vlan.id}}">{{vlan.enhanced}}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>N/D</td>
                    <td>N/D</td>
                    <td>N/D</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
        {% if data['subnets'] %}
            Last Five Subnets
        {% else %}
            No Subnets Created
        {% endif %}
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subnet</th>
                    <th>Netmask</th>
                    <th>CIDR</th>
                </tr>
            </thead>
            <tbody>
            {% if data['subnets'] %}
                {% for subnet in data['subnets'][:5] %}
                    <tr>
                        <td><a href="/subnets/edit/{{subnet.id}}">{{subnet.subnet}}</a></td>
                        <td><a href="/subnets/edit/{{subnet.id}}">{{subnet.netmask}}</a></td>
                        <td><a href="/subnets/edit/{{subnet.id}}">{{subnet.cidr}}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>N/D</td>
                    <td>N/D</td>
                    <td>N/D</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
        {% if data['sites'] %}
            Last Five Sites
        {% else %}
            No Sites Created
        {% endif %}
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Site</th>
                    <th>VLANs</th>
                    <th>Subnets</th>
                </tr>
            </thead>
            <tbody>
            {% if data['sites'] %}
                {% for site in data['sites'][:5] %}
                    <tr>
                        <td><a href="/sites/edit/{{site.id}}">{{site.name}}</a></td>
                        <td><a href="/sites/edit/{{site.id}}">{{site.vlan|count}}</a></td>
                        <td><a href="/sites/edit/{{site.id}}">{{site.subnet|count}}</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>N/D</td>
                    <td>N/D</td>
                    <td>N/D</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}