{% extends "base.html" %}
{% block title %}VS VLAN DB - VLANs{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#activetable" data-toggle="collapse" data-parent="#accordion">
								{% if vlans['active'][0] >= 1 %}
                    Active VLANs
                {% else %}
                    No Active VLANs
                {% endif %}
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse in" id="activetable">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
                  <th>VLAN</th>
                  <th>Subnets</th>
                  <th>Sites</th>
                  <th>Enhanced</th>
                  <th>Active</th>
              </tr>
							</thead>
							<tbody>
							{% if vlans['active'][0] >= 1 %}
                  {% for vlan in vlans['active'][1] %}
                      <tr>
                          <td><a href="/vlans/edit/{{vlan.id}}">{{vlan.vlan}}</a></td>
                          <td>{{vlan.subnets|count}}</td>
                          <td>{{vlan.sites|count}}</td>
                          <td><a href="/vlans/edit/{{vlan.id}}">{{vlan.enhanced}}</a></td>
                          <td><a href="/vlans/edit/{{vlan.id}}">{{vlan.isactive}}</a></td>
                      </tr>
                  {% endfor %}
              {% else %}
                 <tr>
                     <td>N/D</td>
                     <td>N/D</td>
                     <td>N/D</td>
                     <td>N/D</td>
                     <td>N/D</td>
                 </tr>
              {% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#inactivetable" data-toggle="collapse" data-parent="#accordion">
                                {% if vlans['inactive'][0] >= 1 %}
                                    Inactive VLANs
                                {% else %}
                                    No Inactive VLANs
                                {% endif %}
							</a>
						</h4>
				</div>
				<div class="panel-collapse collapse" id="inactivetable">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
                <tr>
                  <th>VLAN</th>
                  <th>Subnets</th>
                  <th>Sites</th>
                  <th>Enhanced</th>
                  <th>Active</th>
                </tr>
              </thead>
              <tbody>
                {% if vlans['inactive'][0] >= 1 %}
                  {% for vlan in vlans['inactive'][1] %}
                  <tr>
                    <td><a href="/vlans/edit/{{vlan.id}}">{{vlan.vlan}}</a></td>
                    <td><a href="/subnets/edit/{{vlan.subnet.id}}">{{vlan.subnet.subnet}}</a></td>
                    <td><a href="/sites/edit/{{vlan.site.id}}">{{vlan.site.name}}</a></td>
                    <td><a href="/vlans/edit/{{vlan.id}}">{{vlan.enhanced}}</a></td>
                    <td><a href="/vlans/edit/{{vlan.id}}">{{vlan.isactive}}</a></td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td>N/D</td>
                    <td>N/D</td>
                    <td>N/D</td>
                    <td>N/D</td>
                    <td>N/D</td>
                  </tr>
                {% endif %}
              </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}