{% extends "base.html" %}
{% block title %}VS VLAN DB - Edit VLAN{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
					Edit VLAN
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="form-group">
						<label for="vlanId">VLAN ID</label>
						<input class="form-control" id="vlanId" placeholder="VLAN ID" value="{{vlan.id}}">
					</div>
					<div class="form-group">
						<label for="subnet">Subnet (Optional)</label>
						<select class="form-control" id="subnet">
							<option>N/A</option>
						</select>
					</div>
					<div class="form-group">
						<label for="site">Site (Optional)</label>
						<select multiple class="form-control" id="site">
							<option>N/A</option>
						</select>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> OTV VLAN
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Active?
						</label>
					</div>
					<br />
					<button type="submit" class="btn btn-success">Update</button>
					<button type="submit" class="btn btn-danger">Cancel</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">Last Ten VLANs</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>VLAN</th>
								<th>Site</th>
								<th>Subnet</th>
								<th>OTV</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}