{% extends "base.html" %}
{% block title %}VS VLAN DB - Edit VLAN{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
					Edit VLAN
			</div>
			<div class="panel-body">
                <form role="form" action="/vlans/edit/{{data['target'].id}}" method="post" name="addvlan">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.vlanid.label(for="vlanid") }}
                        {{ form.vlanid(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.subnet.label(for="subnet") }}
                        {{ form.subnet(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.site.label(for="site") }}
                        {{ form.site(class="form-control") }}
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form.enhanced }} Enhanced
                        </label>
                    </div>
                    <div class="checkbox">
                        {{ form.isactive.label(for="isactive") }}
                        {{ form.isactive }}
                    </div>
                    <button type="submit" class="btn btn-success">Create</button>
                    <a href="/vlans/delete/{{data['target'].id}}" class="btn btn-danger" role="button">Delete</a>
                </form>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
        {% include "topten_side.html" %}
	</div>
</div>
{% endblock %}