{% extends "base.html" %}
{% block title %}VS VLAN DB - Add VLAN{% endblock %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
					Add New VLAN
			</div>
			<div class="panel-body">
                <form role="form" action="/vlans/add" method="post" name="addvlan">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.vlan.label(for="vlanid") }}
                        {{ form.vlan(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.subnets.label(for="subnet") }}
                        {{ form.subnets(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.sites.label(for="site") }}
                        {{ form.sites(class="form-control") }}
                    </div>
                    <div class="checkbox">
                        {{ form.enhanced.label }}
                        {{ form.enhanced }}
                    </div>
                    <div class="checkbox">
                        {{ form.isactive.label }}
                        {{ form.isactive }}
                    </div>
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
        {% include "topten_side.html" %}
	</div>
</div>
{% endblock %}