{% extends "base.html" %}
{% block title %}VS VLAN DB - Edit Impact{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                    Edit Impact {{impact.name}}
            </div>
            <div class="panel-body">
                <form role="form" action="/impacts/edit/{{impact.id}}" method="post" name="editimpact">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.name.label(for="vlanid") }}
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.description.label(for="vlanid") }}
                        {{ form.description(class="form-control") }}
                    </div>
                     <div class="checkbox">
                        {{ form.isactive.label(for="isactive") }}
                        {{ form.isactive }}
                    </div>
                    <button type="submit" class="btn btn-success">Edit</button>
                    <a href="/impacts/delete/{{impact.id}}" class="btn btn-danger" role="button">Delete</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        {% include "helpers/topten_side.html" %}
    </div>
</div>
{% endblock %}